# Jenkyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Apps
/EnmityCustomIcons/node_modules
/EnmityCustomIcons/Info.plist
*.ipa
node_modules/
/*/Out/
/Azule/
azule
/uYouPlusExtra/*.js
/Ansi.js