name: Update Sources

on:
  schedule:
    - cron: "0 0,12 * * *"
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
    
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
        
      - name: Install dependencies
        run: |
          cd EnmityCustomIcons
          npm i
    
      - name: Update Enmity Custom Icons
        run: |
          cd EnmityCustomIcons
          node enmityCustomIcons.js
          
      - name: Commit changes
        run: |
          git config --global user.name "AltStore Sources"
          git config --global user.email actions@github.com
          git add .
          git diff-index --quiet HEAD || (git commit -m "Update sources" && git push)
